@mixin borders {
  border: 1px solid red;
}

@mixin noSpace {
  margin: 0;
  padding: 0;
}

@mixin logo {
  font-family: Copperplate, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #F3F4EF;
}

body {
  background-color: #F3F4EF;
  font-family: Tahoma, Helvetica, sans-serif;
  font: calc(125% + 2vmin);
  @include noSpace
  height: 100%;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.navBar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  background-color: #534D3F;

  h1 {
    @include logo;
    margin: 5px 10px;
  }
  img {
    height: 50px;
    margin: 0px 10px;
  }

  .navList {
    display: none;
    justify-content: space-around;
    width: 100%;
    text-align: right;
  }

  li {
    margin: 5%;
    display: inline;
    color: #F3F4EF;
  }
}

.picture {
  img{
    outline: 5px solid black;
    outline-offset: -5px;
    width: 100%;
  }
}

.content {
  display: grid;
  margin: 0 12.5px;
  h2 {
    text-align: center;
    margin-bottom: 0;
    color: #534D3F;
  }
  .box {
    display: grid;
    background-color: #E3DED8;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 10px 0px;

    p {
      text-align: center;
      align-self: center;
      text-transform: uppercase;
      text-decoration: underline;
    }

    ul {
      font-size: 0.8rem;
    }
    li {
      font-weight: normal;
    }

    ul:last-child {
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      grid-row: span 2;
    }
  }

  .even {
    ul {
      // margin-left: -0.5rem;
    }
    img {
      grid-column: 2;
      grid-row: 1 / 3;
    }
  }

  .endContent {
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #534D3F;
  font-size: 0.8rem;

  .address {
    color: #82BFFE;
    margin-left: 10px;
  }

  .name {
    @include logo;
    font-size: 1rem;
  }

  .contact {
    color: #C7EBC7;
    margin-right: 10px;
  }
}

@media screen and (min-width: 600px) {

  .navBar {
    .navList {
      display: block;
    }
  }

  .picture {
    img{
      outline: 5px solid black;
      outline-offset: -5px;
      width: 100%;
      max-height: 822px;
    }
  }

  .hamburger {
    display: none;
  }

  .content {
    .contentBoxes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5px;
    }
    .box{
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      @include noSpace;
      max-width: 275px;
      img {
        height: 200px;
        margin: auto;
      }
      ul {
        margin: auto;
      }
    }

    .even{
      img {
        grid-column: 1;
      }
    }
  }

  .footer {
    font-size: 1rem;
    .name {
      font-size: 1.5rem;
    }
  }
}
